#preview {
    max-width: 1000px;
    max-height: 1000px;
}
#edit-image {
    display: none;
}
img {
    display: block;
  
    /* This rule is very important, please don't ignore this */
    max-width: 100%;
  }